# **Pandas Series**

## What is Series?
Pandas Series is like a column in a table.  
It is a one-dimension array holding data of any one type. Represented in tabular structure.

#### Example: Creating a simple pandas series from a py list

In [6]:
#importing pandas
import pandas as pd

#creating py list
snacks = [2,4,1,5,3]

#creating pandas series
my_snacks = pd.Series(snacks)

print(my_snacks)

0    2
1    4
2    1
3    5
4    3
dtype: int64

## Lables
If nothing else is specified, the values are labeled with thier index no. First value has  
index 0, second value has index 1 etc.  

The lable can be used to access a specifies value.  

#### Example: Accessing element using lable (indexing)

In [7]:
#accessing the item at index 2
print(snacks[2])

1

## Create Lables
With the `index` argument, you can write your own lable.

#### Example: Creating user defined lables using index arg

In [8]:
#creating py list
snacks = [2,4,1,5,3]

#creating lables
snacks_list = pd.Series(snacks, index = ["Somi","Sanno","Banno","Sachin","Sakshi"])

print(snacks_list)

Somi      2
Sanno     4
Banno     1
Sachin    5
Sakshi    3
dtype: int64

## Key/Value Objects as Series
We can also use key/value objects like Dicts to create Panda series,  
keys are assigned as lables and values as items.  

#### Example: Creating a Pandas series using py dict

In [9]:
#creating py dict
guests = {1:'Sachin', 2:'Sakshi', 3:'Sahil', 4:'Ankit'}

#creating pd series
guest_list = pd.Series(guests)

print(guest_list)

1    Sachin
2    Sakshi
3     Sahil
4     Ankit
dtype: object